.git
.github
.vercel
**/.vercel
.omx
.omo

node_modules
**/node_modules
.pnpm-store

.turbo
**/.turbo
.next
**/.next
dist
**/dist
coverage
*.tsbuildinfo

.DS_Store
*.log

.env
.env.*
**/.env
**/.env.*
