.git
.github
.vercel
**/.vercel

.omo
.omx
.cursor
.idea

node_modules
**/node_modules
.pnpm-store

.turbo
**/.turbo
.next
**/.next
dist
**/dist
coverage
**/coverage
*.tsbuildinfo

.DS_Store
*.log
tmp
temp

.env
.env.*
**/.env
**/.env.*
!**/.env.example
